*packages*

In [ ]:
# general

import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os, yaml, requests

# warnings
import warnings
warnings.filterwarnings("ignore")

*load data*

In [ ]:
path = r'C:\Users\migue\Documents\datasets_kaggle\revenue_restaurants\data.csv'
df = pd.read_csv(path, low_memory=False)
df.head(1)

*db connection*

In [ ]:
# postgresql key
usr = "postgres"
pwd = "V3lazco_1989"
db =  "kaggle_data"
port = "5432"

# create the engine for the postgresql object
engine = create_engine("postgresql://" + usr + ":" + pwd + "@localhost:5432/" + db)

*load data*

In [ ]:
df.to_sql('data', 
          con = engine, 
          if_exists = 'replace', 
          index = False, 
          schema = 'revenue_forecast')

`load clusters`

In [1]:
# general

import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import os, yaml, requests

# warnings
import warnings
warnings.filterwarnings("ignore")

c:\users\migue\appdata\local\programs\python\python39\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.26.6) or chardet (5.2.0)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

*load data*

In [2]:
path = r'output\clusters.xlsx'
df = pd.read_excel(path)
df.head(1)

,Number_of_Customers,Menu_Price,Marketing_Spend,Average_Customer_Spending,Promotions,Reviews,Monthly_Revenue,cuisine_encode,marketing_spend_per_customer,revenue_per_customer,reviews_to_revenue_ratio,marketing_efficiency,relative_menu_price,cluster,Cuisine_Type,client-type
0,61,43.117635,12.663793,36.236133,0,45,350.91204,2,0.207603,5.752656,7.798045,27.70987,0.840402,2,Japanese,economic

*db connection*

In [3]:
# postgresql key
usr = "postgres"
pwd = "V3lazco_1989"
db =  "kaggle_data"
port = "5432"

# create the engine for the postgresql object
engine = create_engine("postgresql://" + usr + ":" + pwd + "@localhost:5432/" + db)

*load data*

In [4]:
df.to_sql('clusters', 
          con = engine, 
          if_exists = 'replace', 
          index = False, 
          schema = 'revenue_forecast')

1000